<!doctype html>
<html>
<head>
  <title>Movies</title>
</head>
<body>
<form action="/" method="get">
  <label for="q">Search</label>
  <input type="text" name="q" value="<%= @q %>" placeholder="Search Term"/>
  <input type="submit"/>
</form>
<hr/>
      <%= yield  %>
</body>
</html>